# ----------------------------------------------------
# Logs
# ----------------------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------------------------------
# Node Modules (client + server)
# ----------------------------------------------------
node_modules/

# Add Env files

.env
.env.local
.env.*.local

# ----------------------------------------------------
# Build Output
# ----------------------------------------------------
dist/
dist-ssr/
build/
.out/
.next/
.esbuild/

# ----------------------------------------------------
# Local Environment Files
# ----------------------------------------------------
*.local
.env
.env.*.local
.env.local

# ----------------------------------------------------
# Editor Directories and Misc
# ----------------------------------------------------
.vscode/*
!.vscode/extensions.json   # allow recommended extensions
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ----------------------------------------------------
# Optional: OS Files
# ----------------------------------------------------
Thumbs.db



