services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/src
      - /src/node_modules
    command: npm run dev
    env_file:
      - ./server/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - MONGODB_URL=${MONGODB_URL}


  client:
    build: ./client
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    environment:
      - CHOKIDAR_USEPOLLING=true
    develop:
      watch:
        - action: sync
          path: ./client/src
          target: /src/src
          ignore:
            - node_modules/
        - action: rebuild
          path: ./client/package.json
